@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

html,body {
    height: 100%;
}

.App {
    text-align: center;
    font-family: 'Alegreya', serif;
    --black: #282c34;
    --very-pale-blue: #e7ecfa;
    --pale-blue: #c4ccdd;
    --deep-blue: #273f74;
    --white: #edf1fc;
    --light-gold: #fff0c3;
    --gold: #ddc992;
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-header {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
}

main {
    padding-bottom: 61px; /* This is the height of navbar on desktop, plus 15px */
}

h1 {
    font-size: 48px;
}

#SurveyorsList,#CustomersList,#Home,#Book {
    width: 100%;
    display: flex;
    flex-direction: column;
}

h2 {
    padding: 12px;
}

.book-a-survey-link {
    width: 50vw;
    font-size: calc(18px + 6vmin);
    font-family: inherit;
    border: 0;
}

form {
    text-align: right;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 18px;
}

form h3 {
    float: right;
    text-align: left;
    background-color: var(--very-pale-blue);
    padding: 3px 12px;
    width: 95%;
}

form input {
    margin: 3px 0 3px 12px;
    padding: 3px;
    width: 15em;
    font-size: inherit;
    font-family: inherit;
}

button {
    margin: 0 auto;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    border-radius: 8px;
    background-image: radial-gradient(var(--light-gold), var(--gold));
    background-position: center;
    background-size: 100%;
    transition: background-size 0.3s;
}

button:hover {
    background-size: 200%;
}

table {
    min-width: 95vw;
    padding-bottom: 18px;
    border-bottom: 3px solid var(--pale-blue);
}

thead {
    background-color: var(--pale-blue);
}

tr:nth-child(2n) {
    background-color: var(--very-pale-blue);
}

td {
    max-width: 25%;
    padding: 6px 0;
}

#book-submit-button {
    margin-top: 18px;
    font-size: 18px;
}

.edit-button {
    width: 5em;
}

nav {
    margin-top: 36px;
    display: flex;
    background-color: var(--pale-blue);
    width: 100%;
    position: fixed;
    bottom: 0;
}

nav ul {
    list-style-type: none;
    padding: 12px 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

nav a {
    padding: 15px;
    border-radius: 6px 6px 0 0;
    border: 3px solid rgba(0,0,0,0);
    border-bottom: 3px solid rgba(0,0,0,0);
    transition: background-color 1s, border-color 0.6s, border-radius 0.6s;
}

.nav-link-current {
    text-decoration: none;
    background-color: var(--very-pale-blue);
    border: 3px solid var(--pale-blue);
    border-bottom: 3px solid rgba(0,0,0,0);
    padding-top: 15px;
    padding-bottom: 12px;
}

nav a:hover,.nav-link-current:hover {
    background-color: var(--white);
    border-bottom: 3px solid rgba(0,0,0,0);
    padding-top: 15px;
    padding-bottom: 12px;
    color: var(--deep-blue);
}


@media (max-width:560px) {
    h1 {
        font-size: 36px;
    }

    main {
        padding-bottom: 197px; /* This is the height of navbar on mobile, plus 15px */
    }

    table {
        width: 100%;
    }

    thead tr {
        padding: 12px 0;
    }
    
    thead td {
        padding: 0;
    }

    thead h3 {
        margin: 0;
    }

    tr {
        display: grid;
        grid: 
            "date address address"
            "latlong name edit";
        align-items: stretch;
    }

    tr * {
        min-width: 33vw;
        padding: 6px 0;
    }

    tbody tr {
        padding: 6px 0;
    }

    .cell-date {
        grid-area: date;
    }

    .cell-address {
        grid-area: address;
        min-width: 66vw;
    }

    .cell-latlong {
        grid-area: latlong;
    }

    .cell-name {
        grid-area: name;
    }

    .cell-edit {
        grid-area: edit;
    }


    nav {
        background-image: linear-gradient(var(--white), var(--pale-blue))
    }

    nav ul {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
    }

    nav ul li {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;

    }

    nav ul li a {
        border-radius: 0 6px 6px 0;
        border: 3px solid rgba(0,0,0,0);
        border-left: 3px solid rgba(0,0,0,0);
    }

    .nav-link-current {
        border: 3px solid var(--pale-blue);
        border-left: 3px solid rgba(0,0,0,0);
    }

    nav a:hover {
        border-radius: 0 6px 6px 0;

    }

    nav a.nav-link-current:hover {
        border-radius: 0 6px 6px 0;
        border-bottom: 3px solid var(--pale-blue);
    }

}