@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

.App {
    text-align: center;
    font-family: 'Alegreya', serif;
    --black: #282c34;
    --pale-blue: #c4ccdd;
    color: --black;
}

.App-header {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.book-a-survey-button {
    width: 50vw;
    font-size: calc(18px + 6vmin);
    font-family: inherit;
    border: 0;
}


footer {
    background-color: var(--pale-blue);
}

footer ul {
    list-style-type: none;
    padding: 12px 0;
}